/* Reset básico */

:root {
  --bar-expanded-height: 60vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFF4;
  color: #242424;
  font-family: 'DM Mono', monospace;
  overflow: hidden; /* cada columna tendrá su propio scroll */
  cursor: none;
}

h1 {
  font-family: 'TeX Gyre Heros Cn', sans-serif;
  font-weight: bold;
  letter-spacing: -0.03em; /* -3% */
  color: #242424;
}

h2 {
  font-family: 'DM Mono', monospace;
  text-transform: uppercase;
  font-size: .8rem;
}

a {
  color: rgba(36,36,36,0.4);
  text-decoration: none;
  font-size: .8rem;
}



/* Cursor principal */
.cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999;
  overflow: visible;
  mix-blend-mode: difference;
}

/* Barra de navegación */

/* Logo grande inicial */
.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 70vw;        /* tamaño inicial grande */
  transform-origin: left top;
  z-index: 100;
  pointer-events: none;
}

.logo-placeholder {
  width: 120px;
}

/* Navbar sticky */
/* .navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
} */

/* .nav-links a {
  font-family: 'DM Mono', monospace;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: .8rem;
  text-decoration: none;
  color: rgba(36,36,36,0.4);
  transition: color 0.2s ease;
} */

/* .nav-links a:hover,
.nav-links a:focus-visible {
  color: #242424; /* negro sólido */




.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.column {
  overflow-y: auto;
  padding: 1rem;
}

.left {
  flex: 3; /* 3/4 */
}

.column.left {
  overflow-y: auto;
  height: 100vh;
  position: relative;
}

.separator {
  width: 0.75pt;                 /* grosor de la línea */
  background-color: rgba(36,36,36,0.4);
  margin: 1rem 0;                /* margen superior e inferior */
}

.right {
  flex: 1; /* 1/4 */
}

.column::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}


/* nav bar fixed flotante */
.fixed-bar {
  position: fixed;
  bottom: 15px;
  left: 25%;
  width: 25vw;
  height: 40px;
  background: rgb(36, 36, 36);
  z-index: 9999;
  border-radius: 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden; /* importante */
}

/* navbar dentro del rectángulo */
.fixed-bar .nav-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 13px 16px;
}

/* links */
.fixed-bar .nav-links a {
  font-family: 'DM Mono', monospace;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-decoration: none;
  color: #FFFFF4;
  transition: color 0.2s ease;
}

.nav-logo {
  height: 1vw;        
  width: auto;
  display: block;
}

.nav-items {
  display: flex;
  gap: 24px;
}

.fixed-bar .nav-links a:hover,
.fixed-bar .nav-links a:focus-visible {
  color: #ffffff;
}

.footer-cta {
  position: absolute;
  bottom: -30px;
  left: 1%;
  width: 100%;

  font-family: 'TeX Gyre Heros Cn', sans-serif;
  font-weight: bold;
  letter-spacing: -0.06em; /* -3% */
  font-size: 14vw;
  color: #FFFFF4;

  opacity: 0; /* empieza invisible */
  pointer-events: none; /* no interfiere con clicks */
  transition: opacity 0.4s ease-out;
}




/* Números decorativos a los lados */
.side-numbers {
  position: absolute;
  top: 1vh; /* mismo inicio que tus palabras flotantes */
  bottom: 0;
  width: auto;
  pointer-events: none;
  font-family: 'DM Mono', monospace;
  font-size: 0.65rem;
  color: rgba(36,36,36,0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-numbers {
  left: 0;
  padding-left: 1rem;
}

.right-numbers {
  right: 0;
  padding-right: 1rem;
}

.side-numbers span {
  line-height: 2.5em;
}


/* Floating Words */
.floating-words {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'DM Mono', monospace;
}

.floating-words .words-container {
  position: absolute;
  top: 38vh;      /* empieza debajo del logo */
  bottom: 10vh;    /* termina antes del padding inferior */
  left: 2rem;
  right: 2rem;
}

.floating-words span {
  position: absolute;
  text-transform: uppercase;
  font-size: .8rem;
  color: #000;
  cursor: default;
  user-select: none;
}




/* Sección de proyectos */

.content h2 {
  padding-left: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem 3rem; /* Espacio entre proyectos */
  margin: 1rem;
  justify-content: center;
}

.project-link {
  display: block;
  flex: 0 1 200px; /* base mínima */
}

.project-extralarge {
  flex: 0 1 83%; /* más grande */
}

.project-large {
  flex: 0 1 55%; /* más grande */
}

.project-medium {
  flex: 0 1 43%; /* tamaño intermedio */
}

.project-small {
  flex: 0 1 30%; /* más pequeño */
}

.project-rotate-right {
  transform: rotate(3deg);
}

.project-rotate-left {
  transform: rotate(-3deg);
}

.project-link img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}


/* Efecto hover (opcional) */
.project-link:hover img {
  transform: scale(1.05) rotate(3deg);
}


.spacer {
  height: 18rem; /* espacio al final de la página */
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .left, .right {
    flex: none;
    height: 50vh;
    border-right: none;
    border-bottom: 0.75pt solid rgba(36,36,36,0.4);
  }
}